@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-primary: #5C56E1;
  --color-primary-dark: #5b21b6;
  --color-accent: #8B5CF6;
  --color-card: #FFFFFF;
  --color-input: #F1F1FF;
  --color-text: #09090E;
  --color-placeholder: #5C5A87;
  --color-border: #D4D4ED;
  --color-gradient: linear-gradient(135deg, #5C56E1, #8B5CF6);
}

.gen-container{
    width: 100%;
    padding: 32px;
    border-radius: 19px;
    background: var(--color-card);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.card {
    text-align: center;
    padding: 20px;
    border: 2px solid #faa301;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-title {
    color: #27ae60;
}

.app-subtitle {
    color: #333;
}

.file-label {
    cursor: pointer;
    display: flexbox;
    padding: 7px;
    background-color: #c834db;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 60px;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #73ec10;
}

.file-input {
    display: none;
}

.progress-container {
    margin-top: 15px;
    position: relative;
    height: 20px;
}