@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-primary: #5C56E1;
  --color-primary-dark: #5b21b6;
  --color-accent: #8B5CF6;
  --color-card: #FFFFFF;
  --color-input: #F1F1FF;
  --color-text: #09090E;
  --color-placeholder: #5C5A87;
  --color-border: #D4D4ED;
  --color-gradient: linear-gradient(135deg, #5C56E1, #8B5CF6);

    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

.gen-container{
    width: 100%;
    padding: 32px;
    border-radius: 19px;
    background: var(--color-card);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.gen-container .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
}

.gen-container .insights li{
    padding: 24px;
    background: var(--light);
    color:#FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.gen-container .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gen-container .insights li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

.gen-container .insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

.gen-container .insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.gen-container .insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.gen-container .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.gen-container .insights li .info p{
    color: var(--dark);
}

.bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.bottom-data .dash-header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.bottom-data .dash-header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.bottom-data .dash-header .bx{
    cursor: pointer;
}

.bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
}

.bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.bottom-data .orders table td{
    padding: 16px 0;
}

.bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

.bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}