{%extends "_base.html" %} 

    {% block styles %}
        {{ super() }} {# This includes the CSS from the parent's 'styles' block #}
        <link rel="stylesheet" href="{{ url_for('static', path='css/text_to_speech.css') }}">
    {% endblock %}

{%block content%}

    <div class="gen-container">

        <header class="header__gen">

            <div class="logo-wrapper">
                <div class="gen__logo">
                    <i class="fa-solid fa-wand-magic-sparkles"></i>
                </div>
                <h1>AI Speech Generator</h1>
            </div>

            <button class="theme-toggle">
                <i class="fa-solid fa-moon"></i>
            </button>

        </header>

        <div class="main-content">

            <form action="/api/v1/audio/generate_speech" class="prompt-form" id="text-to-speech-form" method="POST">

               <!--Prompt container-->
               <div class="prompt-container">
                  <textarea placeholder="Type in your script..." name="text" id="text" class="prompt-input" required
                     autofocus></textarea>

                  <button class="prompt-btn" type="button">
                     <i class="fa-solid fa-dice"></i>
                  </button>
               </div>

               <!--Prompt actions-->
               <div class="prompt-actions">

                  <div class="select-wrapper">
                     <select name="language" id="language" class="custom-select" required>
                        <!--option value="" selected disabled>Language</option-->
                        {% for language in languages %}
                        {<option value="{{ language }}">{{ language }}</option>}
                        {% endfor %}
                     </select>
                  </div>

                  <div class="select-wrapper">
                     <select name="gender" id="gender" class="custom-select" required>
                        <!--option value="" selected disabled>Gender</option-->
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                     </select>
                  </div>

                  <div class="select-wrapper">
                     <select name="voice" id="voice" class="custom-select" required>
                        <!--option value="" selected disabled>Voice</option-->
                        {% for voice in default_voices %}
                        {<option value="{{ voice }}">{{ voice }}</option>}
                        {% endfor %}
                     </select>
                  </div>

                  <button class="generate-btn" type="submit">
                     <i class="fa-solid fa-wand-sparkles"></i>
                     Generate
                  </button>

               </div>

               <!--Loading-->
               <div class="loader">
                  <div class="orbit-loading-ring hidden"></div>
               </div>

               <!--Results-->
               <div class="audio-output">
                  <audio src="audio/audio.mp3" controls></audio> 
               </div>

            </form>

        </div>

    
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }} {# This includes the JS from the parent's 'scripts' block #}
    <script src="{{ url_for('static', path='js/text_to_speech.js') }}"></script>
{% endblock %}